<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.henrilemoine.trainingmirror</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/henrilemoine/Documents/Programming/PersonalProjects/games/twentyone/tools/mirror_training_runs.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>1800</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/henrilemoine/TrainingMirror/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/henrilemoine/TrainingMirror/launchd.err.log</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>LowPriorityIO</key>
    <true/>

    <key>Nice</key>
    <integer>5</integer>
</dict>
</plist>
